@font-face {
  font-family: 'HelveticaNowText';
  src: url('../fonts/HelveticaNowText-Thin.ttf');
}

@font-face {
  font-family: 'HelveticaNowTextLight';
  src: url('../fonts/HelveticaNowText-Light.ttf');
}

@font-face {
  font-family: 'ChaletComprime';
  src: url('../fonts/ChaletComprime.ttf');
}
