html {
    scroll-behavior: smooth;
    --webkit-antianaliasing: antialiased;
}

body {
    background-color: #282828;
    font-family: 'HelveticaNowText';
    color: #fff;
}

.cabecalho {
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}

.cabecalho .logo {
    display: flex;
    gap: 15px;
}

.cabecalho hr {
    color: hsla(0, 0%, 100%, .4) !important;
    width: 1px;
}

.cabecalho nav {
    display: flex;
    align-items: center;
}

.cabecalho .menu {
    display: flex;
    gap: 30px;
}

.cabecalho .menu .seta.mostrar {
    transform: rotate(180deg);
}

.cabecalho .menu li {
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
}

.cabecalho .menu li a {
    padding: 30px;
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid #fff;
}

.conteudo-principal {
    display: flex;
    position: relative;
    height: calc(100vh - 80px);
}

.conteudo-principal::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.conteudo-principal .imagem-fundo {
    width: 100%;
    object-fit: cover;
}

.conteudo-principal .informacoes {
    position: absolute;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 10;
    min-height: calc(100vh - 80px);
    justify-content: center;
}

.conteudo-principal .informacoes img {
    max-width: 150px;
}

.conteudo-principal .informacoes .lista-de-jogos {
    display: flex;
    gap: 32px;
}

.conteudo-principal .informacoes .titulo {
    font-size: 55px;
    font-family: "ChaletComprime";
}

.conteudo-principal .informacoes .texto {
    font-family: "Chalet";
    font-size: 18px;
    line-height: 1.6;
}

.bg-container {
    background-image: url('../imagens/bg-section.jpg');
    background-size: contain;
}

.personagens-gta-v,
.personagens-gta-online {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0 160px;
}

.personagens-gta-v .personagens,
.personagens-gta-online .personagens {
    max-width: 700px;
}

.personagens-gta-v .logo,
.personagens-gta-online .logo {
    max-width: 200px;
}

.personagens-gta-online .informacoes,
.personagens-gta-v .informacoes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 640px;
}

.personagens-gta-online .informacoes .titulo,
.personagens-gta-v .informacoes .titulo {
    font-family: "ChaletComprime";
    font-size: 48px;
    font-weight: 700;
}

.personagens-gta-online .informacoes p,
.personagens-gta-v .informacoes p {
    color: #e8e8e8;
    font-family: "Chalet";
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.compre-ja .titulo {
    font-family: "ChaletComprime";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.compre-ja .container {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.compre-ja .cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
   
}

.compre-ja .cartao .informacoes {
    display: none;
    flex-direction: column;
    gap: 30px;
}

.compre-ja .cartao .informacoes.ativo {
    display: flex;
}

.compre-ja .cartao .capa-do-jogo {
    max-width: 270px;
}


.compre-ja .informacoes h3 {
    font-family: "ChaletComprime";
    font-size: 52px;
    font-weight: 700;
}

.compre-ja .informacoes .expansao {
    background-color: #121212;
    border: 1px solid #2d2d2d;
    padding: 40px 20px;
    border-radius: 4px;
}

.compre-ja .informacoes .lista-de-jogos-plataforma{
    display: block;
}

.compre-ja .informacoes p {
    color: #e8e8e8;
    font-family: "Chalet";
    font-size: 16px;
    line-height: 1.6;
}

.compre-ja .informacoes .lista-de-jogos {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.btn-plataforma, .btn-comprar {
    color: #fff;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all .3s ease-in;
    width: 100%;
}

.btn-comprar {
    width: 50%;
}

.btn-comprar:hover {
    background-color: #ffffff;
    color: #000000;
}

.compre-ja .btn-plataforma .lista-de-jogos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: none;
    opacity: 0;
    transition: all .3s ease-in;
}

.compre-ja .btn-plataforma .lista-de-jogos.ativo{
    display: flex;
    margin-top: 20px;
    opacity: 1;
}

.compre-ja .btn-plataforma .lista-de-jogos li {
    padding: 20px;
}

.compre-ja  .btn-plataforma .lista-de-jogos li:nth-child(1){
    border: 1px solid #00439c;
}

.compre-ja  .btn-plataforma .lista-de-jogos li:nth-child(1):hover{
    background-color: #00439c;
}
.compre-ja  .btn-plataforma .lista-de-jogos li:nth-child(2){
    border: 1px solid #387a26;
}

.compre-ja  .btn-plataforma .lista-de-jogos li:nth-child(2):hover{
    background-color: #387a26;
}

.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(3) {
    border: 1px solid #00439c;
}

.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(3):hover {
    background-color: #00439c;
}

.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(4) {
    border: 1px solid #387a26; 
}

.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(4):hover {
    background-color: #387a26;
}
.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(5) {
    border: 1px solid #fcaf17; 
}

.compre-ja .btn-plataforma .lista-de-jogos li:nth-child(5):hover {
    background-color: #fcaf17;
}


.bg-gta-v,
.bg-gta-online {
    width: 500px;
    height: 300px;
}

.mostrar{
    display: block;
}
